.features-section {
  padding-top: 94px;
  padding-bottom: 47px;
}
.feature-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;

  & .item {
    width: calc(100% / 4 - 30px);
    margin-top: 30px;
    margin-left: 30px;

    &::before {
      display: block;
      content: "";
      height: 120px;
      margin-bottom: 30px;
      background-color: #f5f4fa;
      border-radius: 4px;
      background-size: 70px;
      background-repeat: no-repeat;
      background-position: center;
    }
  }

  & .title {
    margin-top: 0px;
    margin-bottom: 10px;
    color: var(--title-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  & .text {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
  }
}

.antenna::before {
  background-image: url(../images/features/antenna.svg);
}

.clock::before {
  background-image: url(../images/features/clock.svg);
}

.diagram::before {
  background-image: url(../images/features/diagram.svg);
}

.astronaut::before {
  background-image: url(../images/features/astronaut.svg);
}
