.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }

  & .address {
    margin-bottom: 8px;
    color: var(--white-color);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  & .contact {
    color: rgba(255, 255, 255, 0.6);
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    text-decoration: none;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  & .social-link {
    background-color: rgba(255, 255, 255, 0.1);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
      background-color: var(--accent-color);
    }
  }

  & .social-list-icon {
    fill: var(--white-color);
  }
}
.studio-dark-theme {
  color: var(--white-color);
}

.call-to-action {
  margin-top: 60px;
  margin-bottom: 20px;
  color: var(--white-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }
  .contacts-box {
    width: 50%;

    @media screen and (min-width: 1200px) {
      flex-basis: calc((50% - 45px) / 2);
    }
  }
  .social-list-box {
    width: 50%;

    @media screen and (min-width: 1200px) {
      flex-basis: calc((50% - 45px) / 2);
    }
  }
  .subscribe-box {
    width: 100%;
    margin-top: 60px;

    @media screen and (min-width: 1200px) {
      flex-basis: calc(50% - 15px);
      margin-top: 0;
    }
  }
}

.subscribe-form {
  display: flex;
  justify-content: center;
}
