.header {
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: var(--white-color);
  border: 1px solid #ececec;

  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

// @media screen and (min-width: 1200px) {
//   .header-container {
//     display: flex;
//     align-items: center;
//   }
// }
// @media screen and (min-width: 768px) {
//   .header-container {
//     display: flex;
//     justify-content: space-between;
//   }
// }

@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
  .contact-nav {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .header-container {
    display: flex;
    justify-content: space-between;
  }

  .navigation {
    display: flex;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .nav-list {
    display: flex;
    align-items: center;

    & .link {
      display: block;

      color: var(--title-color);
      font-weight: 500;
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.02em;
      text-decoration: none;

      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        color: var(--accent-color);
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .nav-list .item:not(:last-child) {
    margin-right: 50px;
  }
}

.nav-list .link.current {
  color: var(--accent-color);
}

.nav-list .current-link {
  display: flex;
  flex-direction: column;

  & {
    position: relative;

    &::after {
      position: absolute;
      top: 45px;
      content: "";
      width: 100%;
      height: 4px;
      background: var(--accent-color);
      border-radius: 2px;
    }
  }
}
