.works-section {
  padding-top: 47px;
}
.work-list-thumb {
  display: flex;
  position: relative;
}

.works-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;

  & .text {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-color);
    background-color: rgba(47, 48, 58, 0.8);
    width: 100%;
    height: 70px;
  }

  & .item {
    width: calc(100% / 3 - 30px);
    margin-top: 30px;
    margin-left: 30px;
  }
}
