.modal-form {
  padding: 40px;
}

.label {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }
}

.form-input {
  position: relative;
  display: block;
  margin-top: 4px;
  margin-bottom: 10px;
}

.label-input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  font-size: 14px;

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.icon {
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  left: 14px;
  display: block;

  .label-input:focus + & {
    fill: var(--accent-color);
  }
}

.feedback-input {
  margin-top: 4px;
  margin-bottom: 20px;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  font-size: 14px;

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.label-agree-policy {
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;

  &::before {
    content: "";
    display: inline-block;
    margin-right: 6px;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    background-image: url(../images/check.svg);
    background-repeat: no-repeat;
    background-position: center;

    .agree-policy:checked + & {
      background-color: var(--accent-color);
      border: 2px solid var(--accent-color);
    }

    .agree-policy:focus + & {
      outline: 1px solid var(--accent-color);
    }
  }

  & a {
    color: var(--accent-color);
  }
}
